---
const pageTitle = "Home Page";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awsome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>

<div class="p-4 bg-green-200 text-green-900">Tailwind CSS</div>
