---
const base = import.meta.env.BASE_URL;
---

<div class="nav-links">
  <a href={`${base}/`}>Home</a>
  <a href={`${base}/about/`}>About</a>
  <a href={`${base}/blog/`}>Blog</a>
  <a href={`${base}/tags/`}>Tags</a>
</div>
